{% extends "base.html" %} {% block title %}Edit *{{ constellation.name }}{% endblock %} {% block theme %}dark{%endblock %} {% block body %}
<h1>Edit *{{ constellation.name }}</h1>
<form method="post" class="mb-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Description</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="basic-addon1"
      name="description"
      value="{{ constellation.description }}"
      required />
    <div class="form-text">The description must not be longer than 256 characters.</div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" name="is_private" />
    <label class="form-check-label" for="exampleCheck1">Is private?</label>
    <div class="form-text">
      Private constellations are not published to the list. This option can be changed later.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
<h3>Danger zone</h3>
<a class="btn btn-danger" href="{{ url_for('delete_constellation', name=constellation.name) }}">Delete *{{ constellation.name }}</a>
<div class="form-text">
  This action is irreversible. All data, related to this constellation, including messages, will be deleted.
</div>
{% endblock %}
