{% extends "base.html" %} {% block title %}List{% endblock %} {% block theme %}dark{% endblock %}
{% block body %}
<div class="card">
  <h3 class="card-header">Public constellations 🌃</h3>
  <ul class="list-group list-group-flush">
  {% for constellation in constellation_list|reverse %}
  <li class="list-group-item">
    <a class="link-underline link-underline-opacity-0" href="{{ url_for('invite', uuid=constellation.belonging_invites[0].uuid) }}">*{{constellation.name}}</a> by 
    <a class="link-underline link-underline-opacity-0" href="{{ url_for('user', name=constellation.owner_name) }}">@{{ constellation.owner_name }}</a>{% if constellation.owner.is_verified %} <span title="This user is verified."><i class="bi bi-patch-check text-info"></i></span>{% endif %}
    <p class="fst-italic">{{ constellation.description }}</p>
    <div class="form-text">
      Created on {{ constellation.created_at.strftime('%b %d, %Y') }}
    </div>
  </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
