{% extends "base.html" %} {% block title %}*{{ constellation.name }}{% endblock %} {% block theme %}dark{% endblock %}
{% block body %}
<div class="card mb-3">
  <h1 class="card-header">
    *{{ constellation.name }}
  </h1>
  <div class="card-body">
    <h5 class="card-title">{{ constellation.description }}</h5>
    <div class="card-text mb-3">
      Owned by <a class="link-underline link-underline-opacity-0" href="{{ url_for('user', name=constellation.owner_name) }}">@{{ constellation.owner_name }}</a> {% if constellation.owner.is_verified %}<span title="This user is verified."><i class="bi bi-patch-check text-info"></i></span>{% endif %}
    </div>
    {% if constellation.owner_name == current_user.id %}
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
      <a class="btn btn-outline-secondary" href="{{ url_for('edit_constellation', name=constellation.name) }}" title="Settings"><i class="bi bi-gear"></i></a>
      {#<button type="button" class="btn btn-outline-danger" title="Report constellation">🚩</button>#}
    </div>
    {% endif %}
    {% if constellation.owner_name != current_user.id %}
    <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
      <a class="btn btn-outline-danger" href="{{ url_for('leave_constellation', name=constellation.name) }}">Leave</a>
      {#<button type="button" class="btn btn-outline-danger" title="Report constellation">🚩</button>#}
    </div>
    {% endif %}
    <form class="mt-3" method="post" enctype="multipart/form-data">
      <div class="mb-2">
        <input
          type="text"
          class="form-control"
          aria-describedby="basic-addon1"
          name="title"
          placeholder="Title"
          required />
        <div id="emailHelp" class="form-text">You may have a title up to 128 characters. You may not use Markdown.</div>
      </div>
      <div class="mb-2">
        <textarea type="text" class="form-control" style="height: 150px" placeholder="{{ ['What a nice day!', 'Share your thoughts!', 'Ready to tell something? 😊', 'Tell *'+ constellation.name + ' what\'s happening today']|random }}" aria-describedby="emailHelp" name="message_content" required></textarea>
        <div id="emailHelp" class="form-text">{% include 'markdown-mark.svg.html' %} You may use Markdown if you wish. You may send messages up to 4096 characters.</div>
      </div>
      {#
      <div class="mb-2">
        <input class="form-control" type="file" id="formFile" name="file" disabled>
        <label for="formFile" class="form-text">You may upload files no larger than 2 megabytes. Only .png, .jpg, .jpeg, .webp, .gif files are allowed.</label>
      </div>#}
      <button type="submit" class="btn btn-primary"><i class="bi bi-envelope-arrow-up"></i> Post</button>
    </form>
  </div>
</div>
<div class="card">
  <div class="card-header">Posts</div>
  <ul class="list-group list-group-flush">
  {% for message in constellation.belonging_messages|reverse %}
  <li class="list-group-item"><a class="link-underline link-underline-opacity-0" href="{{ url_for('message', uuid=message.uuid) }}">{{ message.title }}</a> by 
    <a class="link-underline link-underline-opacity-0" href="{{ url_for('user', name=message.author_name) }}">@{{ message.author_name }}</a>{% if message.author.is_verified %} <span title="This user is verified."><i class="bi bi-patch-check text-info"></i></span>{% endif %}{% if message.author_name == message.constellation.owner_name %} <span title="This user owns this constellation."><i class="bi bi-person-gear"></i></span>{% endif %}
    <div class="form-text">2 days ago</div>
  </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
