{% extends "base.html" %} {% block title %}Edit reply{% endblock %} {% block theme %}dark{% endblock %}
{% block body %}
<div class="container">
  <h1>Edit a reply</h1>
  <form class="mb-2" method="post" enctype="multipart/form-data">
    <div class="mb-2">
      <textarea type="text" class="form-control" style="height: 350px" placeholder="Edit reply" aria-describedby="emailHelp" name="reply_content"
      maxlength="1024"
      _="
        on input set :chars_left to 1024 - me.value.length then put :chars_left into #textarea-length
        if :chars_left <= 0 then
          add .text-warning to #textarea-length
          remove .text-info from #textarea-length
        else
          remove .text-warning from #textarea-length
          add .text-info to #textarea-length
        end
      "
      required>{{ reply.content }}</textarea>
      <div id="textarea-length" class="form-text text-info"></div>
      <div class="form-text"><i class="bi bi-markdown"></i> You may use Markdown if you wish. You may send messages up to 1024 characters. You may not edit attachments.</div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endblock %}
