{% extends "base.html" %} {% block title %}Edit message{% endblock %} {% block theme %}dark{% endblock %}
{% block body %}
<div class="container">
  <h1>Edit a message</h1>
  <form class="mb-2" method="post" enctype="multipart/form-data">
    <div class="mb-2">
      <textarea type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ ['What a nice day!', 'Share your thoughts!', 'Ready to tell something? 😊', 'Tell *'+ message.constellation_name + ' what\'s happening today']|random }}" aria-describedby="emailHelp" name="message_content" required>{{ message.content }}</textarea>
      <div id="emailHelp" class="form-text">You may send messages up to 4096 characters. You may not edit attachments.</div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endblock %}
