{% extends "base.html" %} {% block title %}Message by @{{ message.author_name }}{% endblock %} {% block theme %}dark{% endblock %}
{% block head %}
<script type="module" defer>
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
    securityLevel: 'strict',
    theme: 'dark',
    startOnLoad: true
  });
  let observer = new MutationObserver(mutations => {
    for(let mutation of mutations) {
      mutation.target.style.visibility = "visible";
    }
  });
  document.querySelectorAll("pre.mermaid-pre div.mermaid").forEach(item => {
    observer.observe(item, { 
      attributes: true, 
      attributeFilter: ['data-processed'] 
    });
  });
</script>
{% endblock %}
{% block body %}
<div class="container">
  <div class="card mb-3">
    <div class="card-header">
      <h5>
        <a class="link-underline link-underline-opacity-0" href="{{ url_for('user', name=message.author_name) }}">@{{ message.author_name }}</a>{% if message.author.is_verified %} <span title="This user is verified."><i class="bi bi-patch-check text-info"></i></span>{% endif %}{% if message.author_name == message.constellation.owner_name %} <span title="This user owns this constellation."><i class="bi bi-person-gear"></i></span>{% endif %}{% if Member.query.filter_by(constellation_name=message.constellation_name, user_name=message.author_name).one().is_moderator %} <span title="This user moderates this constellation."><i class="bi bi-person-badge"></i></span>{% endif %}
        ➔
        <a class="link-underline link-underline-opacity-0" href="{{ url_for('constellation', name=message.constellation_name) }}">*{{ message.constellation_name }}</a>
      </h5>
      <hr />
      <h4>{{ message.title }}</h4>
    </div>
    <div class="card-body">
      {{ markdowner.convert(message.content).replace('<table>', '<table class="table table-sm">')|safe }}
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
        {% if message.author_name == current_user.id or member_info.is_moderator or message.constellation.owner_name == current_user.id %}
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
          {% if message.author_name == current_user.id %}
          <a class="btn btn-outline-secondary" href="{{ url_for('edit_message', uuid=message.uuid) }}" title="Edit post"><i class="bi bi-pencil"></i></a>
          {% endif %}
          <a class="btn btn-outline-danger" href="{{ url_for('delete_message', uuid=message.uuid) }}" title="Delete post"><i class="bi bi-trash3"></i></a>
          {#<button type="button" class="btn btn-outline-danger" title="Report user">🚩</button>#}
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      Created at {{ message.created_at.strftime('%b %d, %Y %H:%M UTC') }}
      {% if message.is_edited %}
      &bull; Edited at {{ message.edited_at.strftime('%b %d, %Y %H:%M UTC') }}</div>
      {% endif %}
    </div>
  </div>
  <div class="card mb-3">
    <h4 class="card-header">Reply</h4>
    <div class="card-body">
      <form class="mb-3" method="post" enctype="multipart/form-data">
        <div class="mb-2">
          <textarea type="text" class="form-control" style="height: 150px" placeholder="Reply to @{{ message.author_name }}" aria-describedby="emailHelp" name="reply_content"
          maxlength="1024"
          _="
            on input set :chars_left to 1024 - me.value.length then put :chars_left into #textarea-length
            if :chars_left <= 0 then
              add .text-warning to #textarea-length
              remove .text-info from #textarea-length
            else
              remove .text-warning from #textarea-length
              add .text-info to #textarea-length
            end
          "
          required></textarea>
          <div id="textarea-length" class="form-text text-info">1024</div>
          <div class="form-text"><i class="bi bi-markdown"></i> You may use Markdown if you wish. You may send messages up to 1024 characters. You may not edit attachments.</div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="bi bi-envelope-arrow-up"></i> Reply</button>
      </form>
    </div>
  </div>
  {% for reply in message.replies|reverse %}
  <div class="card mb-3">
    <h5 class="card-header"><a class="link-underline link-underline-opacity-0" href="{{ url_for('user', name=reply.author_name) }}">@{{ reply.author_name }}</a>{% if reply.author.is_verified %} <span title="This user is verified."><i class="bi bi-patch-check text-info"></i></span>{% endif %}{% if reply.author_name == message.constellation.owner_name %} <span title="This user owns this constellation."><i class="bi bi-person-gear"></i></span>{% endif %}{% if Member.query.filter_by(constellation_name=reply.constellation_name, user_name=reply.author_name).one().is_moderator %} <span title="This user moderates this constellation."><i class="bi bi-person-badge"></i></span>{% endif %}</h5>
    <div class="card-body">
      {{ markdowner.convert(reply.content).replace('<table>', '<table class="table table-sm">')|safe }}
        {% if reply.author_name == current_user.id or member_info.is_moderator or reply.constellation.owner_name == current_user.id %}
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
          {% if reply.author_name == current_user.id %}
          <a class="btn btn-outline-secondary" href="{{ url_for('edit_reply', uuid=reply.uuid) }}" title="Edit reply"><i class="bi bi-pencil"></i></a>
          {% endif %}
          <a class="btn btn-outline-danger" href="{{ url_for('delete_reply', uuid=reply.uuid) }}" title="Delete reply"><i class="bi bi-trash3"></i></a>
          {#<button type="button" class="btn btn-outline-danger" title="Report user">🚩</button>#}
        </div>
        {% endif %}
    </div>
    <div class="card-footer text-body-secondary">
      Created at {{ reply.created_at.strftime('%b %d, %Y %H:%M UTC') }}
      {% if reply.is_edited %}
      &bull; Edited at {{ reply.edited_at.strftime('%b %d, %Y %H:%M UTC') }}</div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}