{% extends "base.html" %} {% block title %}Index{% endblock %} {% block theme %}dark{% endblock %}
{% block body %}
<h1>🌃 Constellations</h1>
<h2>A more private social network.</h2>
<h4>Connect with your community</h4>
<p>Constellations is designed with private communities in mind. Have a small club in real life? Why don't have a <span class="fst-italic">minimal</span> online presence?</p>
<h4>When things get bored, open up!</h4>
<p>With a single click of a button, you can open your constellation to other people! You can discover other constellations in the <a class="link-underline link-underline-opacity-0" href="{{ url_for('constellation_list') }}">public list</a>!</p>
<h4>Privacy is the core principle</h4>
<p>We only have 2 cookies: for remembering the account and for saving the session token. No more spooky trackers!</p>
<h4>Free and open-source</h4>
<p>Constellations is open-source and available on <a class="link-underline link-underline-opacity-0" href="https://github.com/Tasty-Kiwi/constellations">GitHub</a>!</p>
<h4>Works best with Blabber</h4>
<p>You should use <a class="link-underline link-underline-opacity-0" href="https://blabber.fly.dev/">Blabber</a> to post updates to everyone, and you can always post something more personal to Constellations!</p>
{% endblock %}
