{% extends "base.html" %} {% block title %}Register{% endblock %} {% block theme %}dark{% endblock %}
{% block body %}
<h1>Register to 🌃 Constellations</h1>
<form method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" id="username" class="form-label">Username</label>
    <div class="input-group">
      <span class="input-group-text">@</span>
      <input
        type="text"
        class="form-control"
        aria-describedby="basic-addon1"
        name="username"
        maxlength="16"
        _="
          on input
          if me.value is not empty then
            if compareRegex(me.value) is true then
              remove @disabled='' from #submit-button
              remove .text-warning from #username
              add .text-info to #username
            else
              add @disabled='' to #submit-button
              add .text-warning to #username
              remove .text-info from #username
            end
          end
        "
        required />
    </div>
    <div id="emailHelp" class="form-text">
      The username must be alphanumberical lowercase. The only special character allowed is
      "<code>.</code>". The name must not be longer than 16 characters.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" id="submit-button" class="btn btn-primary" disabled>Submit</button>
</form>
<p>Already a member? <a href="{{ url_for('login') }}">Login.</a></p>
{% endblock %}
