{% extends "base.html" %} {% block title %}Edit @{{ user.id }}{% endblock %} {% block theme %}dark{%endblock %} {% block body %}
<h1>Edit @{{ user.id }}</h1>
<form method="post" class="mb-3">
  <div class="mb-3">
    <label for="bio" class="form-label">Bio</label>
    <textarea type="text" class="form-control" id="bio" style="height: 200px" aria-describedby="basic-addon1" name="bio"
    _="
      on input set :chars_left to 512 - me.value.length then put :chars_left into #textarea-length
      if :chars_left <= 0 then
        add .text-warning to #textarea-length
        remove .text-info from #textarea-length
      else
        remove .text-warning from #textarea-length
        add .text-info to #textarea-length
      end
    "
    maxlength="512"
    required>{{ user.bio }}</textarea>
    <div id="textarea-length" class="form-text text-info">512</div>
    <div class="form-text"><i class="bi bi-markdown"></i> You may use Markdown if you wish. The bio must not be longer than 512 characters.</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="basic-addon1"
      name="email"
      id="email"
      value="{{ user.email }}"
      required />
      <div class="form-text">Your email is used for security purposes. It is not shared.</div>
  </div>
  <div class="mb-3">
    <label for="blabber" class="form-label">{% include 'blabber-logo.svg.html' %} Blabber</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="basic-addon1"
      name="blabber_url"
      value="{{ user.blabber_url }}"
      maxlength="64"
      />
      <div class="form-text">Constellations works best with <a class="link-underline link-underline-opacity-0" href="https://blabber.fly.dev/" target="_blank">Blabber</a>.</div>
  </div>
  <div class="mb-3">
    <label for="location" class="form-label"><i class="bi bi-geo-alt"></i> Location</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="basic-addon1"
      name="location"
      maxlength="64"
      value="{{ user.location }}"
      />
      <div class="form-text">The location can be anything. Up to 64 characters.</div>
  </div>
  <div class="mb-3">
    <label for="website" class="form-label"><i class="bi bi-globe-americas"></i> Website</label>
    <input
      type="text"
      class="form-control"
      aria-describedby="basic-addon1"
      name="website"
      maxlength="128"
      value="{{ user.website }}"
      />
      <div class="form-text">Your personal website, <a class="link-underline link-underline-opacity-0" href="https://omg.lol/" target="_blank">omg.lol</a> page or your discord server link. We don't care, as long as it's not anything illegal.</div>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
<h3>Security</h3>
<a class="btn btn-primary mb-5" href="{{ url_for('edit_password') }}">Edit password</a>
<h3>Danger zone</h3>
<a class="btn btn-danger" href="{{ url_for('delete_user') }}">Delete @{{ user.id }}</a>
<div class="form-text">
  This action is irreversible. All data, related your account, including messages and owned constellations, will be deleted.
</div>
{% endblock %}
